.cita-card {
  border-radius: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cita-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.custom-container {
  margin-top: 4.5rem !important;
}

.custom-button{
  border-radius: 7px !important;
}