/* MisMascotas.css */

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Opcional: evitar que las imágenes sobresalgan */
.object-fit-cover {
  object-fit: cover;
}

.custom-container {
  margin-top: 4.5rem !important;
}

.custom-button{
  border-radius: 7px !important;
}