.custom-navbar {
  background-color: #4E6688 !important;
  transition: box-shadow 0.3s ease;
  z-index: 1030;
  border-bottom: 1px solid #e0ddd9;
}

.custom-navbar.scrolled {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Navbar brand */
.navbar-brand {
  font-weight: bold;
  color: #333 !important;
}

/* Navbar links */
.nav-link,
.dropdown-item {
  color: #333 !important;
  font-weight: 500;
  border-radius: 10px;
}

.nav-link:hover,
.dropdown-item:hover {
  background-color: #e9e6e3;
  color: #000 !important;
  border-radius: 10px;
}

.btn-outline-dark {
  border-color: #333;
  color: #333;
}

.btn-outline-dark:hover {
  background-color: #333;
  color: #fff;
}

.navbar{
  border: 0;
}